@import url("../reusable/common.css");
@import url("../reusable/navbar.css");
@import url("../reusable/left-navbar.css");

section {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
}

main {
  width: 100%;
  padding-top: 36px;
}

#admin-table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  font-family: Inter;

  #table-head-row {
    background-color: #e8e8e8;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);

    th {
      font-weight: 400;
      font-size: 22px;
      padding: 16px 0;
      text-align: left;
    }
  }

  td {
    padding: 20px 0;
  }

  tr {
    cursor: pointer;
    transition: all 0.3s;
  }

  tr:hover {
    background-color: #a7a6a6;

    .profile-pic-placeholder {
      background-color: #ffffff;
    }
  }
}

#add-new-admin {
  margin-left: auto;
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin-right: 20px;
  span {
    font-size: 18px;
    font-family: Cinzel;
    font-weight: 400;
  }
}

.profile-pic-placeholder {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  margin-left: 16px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -600px;
  width: 600px;
  height: 100%;
  background-color: #e5e5e5;
  box-shadow: unset;
  transition: all 0.3s ease;
  z-index: 1000;

  .drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 35px 30px 0;
    font-size: 32px;

    p {
      margin: 0;
      font-family: Cinzel;
    }

    i {
      cursor: pointer;
    }
  }
}

.drawer.open {
  box-shadow: -4px 32px 64px 10px rgba(0, 0, 0, 0.25);
  right: 0;
}

/* form in drawer */
.form-container {
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 120px;
  font-family: Inter;
}

.form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.picture-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.preview {
  width: 120px;
  height: 100px;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.browse-btn {
  background-color: #ddd;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -50px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Cinzel;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background-color: #c8c8c8;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#delete-confirmation {
  width: 100%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: Cinzel;
    font-weight: 400;
    font-size: 32px;
  }

  .modal-buttons {
    margin-top: 32px;
  }
}

@media (max-width: 800px) {
  main {
    padding-top: 4px;
  }

  #add-new-admin {
    margin-left: auto;
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 2px;
    margin-right: 4px;

    img {
      width: 25px;
      height: 25px;
    }

    span {
      font-size: 10px;
      font-family: Inter;
      font-weight: 400;
    }
  }

  #admin-table {
    border-collapse: collapse;
    margin-top: 4px;
    width: 100%;
    font-family: Inter;

    #table-head-row {
      background-color: #e8e8e8;
      box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);

      th {
        font-weight: 400;
        font-size: 10px;
        padding: 12px 0;
        text-align: left;
      }
    }

    td {
      padding: 12px 0;
      font-size: 10px;
    }
  }

  .profile-pic-placeholder {
    width: 25px;
    height: 25px;
    margin-left: 4px;
  }

  .drawer {
    width: 90%;

    .drawer-header {
      padding: 25px 20px 0;
      font-size: 20px;
    }
  }

  /* form in drawer */
  .form-container {
    padding: 20px;
    border-radius: 10px;
    width: auto;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-group label {
    width: 80px;
    font-family: Inter;
  }

  .preview {
    min-width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
