@import url("../reusable/common.css");
@import url("../reusable/navbar.css");
@import url("../reusable/left-navbar.css");

section {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);

  main {
    width: 100%;
    padding-top: 36px;

    #add-new-product {
      margin-left: auto;
      width: fit-content;
      display: flex;
      gap: 8px;
      margin-right: 20px;
      span {
        font-size: 18px;
        font-family: Cinzel;
        font-weight: 400;
      }
    }

    /* TODO */
    #do-here {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
